{% extends 'base.html.twig' %}

{% block title %}Modifier un article - {{ parent() }}{% endblock %}

{% block body %}

{{ parent() }}

<div>
    <h2>Modifier un article</h2>

    {# 
        Affichage du formulaire grâce à la fonction form() de Twig 
        Cette fonction prend en paramètre la variable créée dans l'action
        et qui représente le formulaire    
    #}

    {{ form(articleForm) }}

</div>
{% endblock %}
